@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-100: #ffffff;
  --primary-light: #ffccff;
  --dark-60: rgba(0, 0, 0, 0.6);
  --glass: linear-gradient(var(--dark-60), var(--dark-60));
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100svh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.custom-height {
  height: calc(100svh - 48px);
}

.custom-width {
  width: calc(100% - 48px);
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  min-width: 0;
}

.video-height {
  height: calc((9 / 16) * 100vw);
}

.transition-blur {
  transition:
    -webkit-backdrop-filter 1s linear,
    -moz-backdrop-filter 1s linear,
    backdrop-filter 1s linear,
    opacity 1s linear,
    background 1s linear;
}

@layer components {
  .bordered-container {
    @apply flex justify-center border-white border-2 rounded-2xl;
  }

  .footer,
  .header {
    @apply absolute w-full flex z-50 items-center;
  }

  .footer {
    @apply flex-nowrap bottom-0 overflow-hidden;
  }

  .header {
    @apply justify-between px-4 py-2;
  }

  .rounded-button {
    @apply transition-transform duration-1000 z-10;
  }

  .searchbar {
    @apply w-3/4 h-[36px];
  }
}
